name: Build & Release

on:
  push:
    tags:
      - 'v*' # Push events matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    name: Publish binaries
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"

      - name: Cache pip dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Tools & Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-20.04 wxPython --user
          pip install pyinstaller -r requirements.txt
          
      - name: Create Executable
        run: |
          echo "1.0.0-beta" > version.txt
          pyinstaller -i icons/BindControl.ico --noconsole --noconfirm --clean --add-data icons:icons --add-data Help:Help --add-data version.txt:. --exclude-module _bz2 --exclude-module _ctypes --exclude-module _decimal --exclude-module _hashlib --exclude-module _lzma --exclude-module _socket --exclude-module _ssl BindControl.py

      - name: Verify Executable
        run: |
          dir dist/BindControl

      - name: create-7z-action
        uses: DuckSoft/create-7z-action@v1.0
        with:
          pathSource: dist/BindControl
          pathTarget: dist/BindControl-v1.0.16-alpha_windows.zip

      - name: Verify Zip
        run: |
          dir dist/BindControl
          dir dist

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./dist/BindControl-*.zip
          asset_name: release-test
          tag: ${{ github.ref }}
          overwrite: true
          body: "This is my release text"